# Logs and temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# OS junk
.DS_Store

# Build outputs (optional)
dist/
build/

# Ignore all node_modules folders recursively
node_modules/